/*

CSS INDEX PARTIAL HEADER DETALHES

*/

header .detalhes {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

header .detalhes .enfeite {
  position: absolute;
}

header .detalhes .enfeite img {
  width: 100%;
}

/* Enfeites */

header .detalhes .enfeite.bola_branca {
  top: 20px;
  left: 20px;
}

header .detalhes .enfeite.bola_branca img {
  max-width: 40px;
}

header .detalhes .enfeite.triangulo_azul {
  bottom: 20px;
  left: 20px;
}

header .detalhes .enfeite.triangulo_azul img {
  max-width: 100px;
}

header .detalhes .enfeite.bola_azul {
  top: 300px;
  right: 20px;
}

header .detalhes .enfeite.bola_azul img {
  max-width: 40px;
}

header .detalhes .enfeite.triangulo_branco {
  top: 20px;
  right: 20px;
}

header .detalhes .enfeite.triangulo_branco img {
  max-width: 100px;
}

header .detalhes .enfeite.circulo_azul_tracado {
  bottom: 100px;
  left: 40%;
}

header .detalhes .enfeite.circulo_azul_tracado img {
  max-width: 150px;
}

header .detalhes .enfeite.circulo_transparente {
  bottom: -100px;
  left: 43%;
}

header .detalhes .enfeite.quadrado_transparente_1 {
  left: -150px;
  top: 150px;
}

header .detalhes .enfeite.quadrado_transparente_2 {
  right: -150px;
  bottom: 150px;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  header .detalhes .enfeite.quadrado_transparente_1 {
    left: -200px;
    top: 150px;
  }
  header .detalhes .enfeite.quadrado_transparente_2 {
    right: -200px;
    bottom: 100px;
  }
}

@media screen and (max-width: 900px) {
  header .detalhes .enfeite.circulo_azul_tracado {
    display: none;
  }
  header .detalhes .enfeite.circulo_transparente {
    bottom: -200px;
    left: 10%;
  }
}

@media screen and (max-width: 600px) {
  header .detalhes .enfeite.bola_branca img,
  header .detalhes .enfeite.bola_azul img {
    max-width: 30px;
  }
  header .detalhes .enfeite.triangulo_azul img,
  header .detalhes .enfeite.triangulo_branco img {
    max-width: 80px;
  }
  header .detalhes .enfeite.quadrado_transparente_1 {
    left: -220px;
    top: 70px;
  }
  header .detalhes .enfeite.quadrado_transparente_2 {
    right: -220px;
    bottom: 120px;
  }
  header .detalhes .enfeite.circulo_transparente {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  header .detalhes .enfeite.bola_branca img,
  header .detalhes .enfeite.bola_azul img {
    max-width: 25px;
  }
  header .detalhes .enfeite.triangulo_azul img,
  header .detalhes .enfeite.triangulo_branco img {
    max-width: 60px;
  }
  header .detalhes .enfeite.bola_branca {
    top: 140px;
  }
  header .detalhes .enfeite.bola_azul {
    top: 500px;
    right: 20px;
  }
  header .detalhes .enfeite.quadrado_transparente_1 {
    left: -220px;
    top: 180px;
  }
  header .detalhes .enfeite.quadrado_transparente_2 {
    right: -220px;
    bottom: -50px;
  }
}
