/*

CSS INDEX PARTIAL HEADER

*/

header {
  display: flex;
  height: 100vh;
  background-image: url('../../images/pages/index/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Responsivo */

@media screen and (max-width: 900px) {
  header {
    flex-direction: column;
  }
}
