/*

CSS INDEX PARTIAL HEADER FAZER/APRENDER

*/

header .fazer,
header .aprender {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Texto */

header .fazer .texto,
header .aprender .texto {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding-top: 30px;
}

header .fazer .texto a,
header .aprender .texto a {
  font-family: 'dosis';
  font-weight: 300;
  font-size: 2rem;
  max-width: 400px;
  color: var(--white);
  z-index: 10;
  cursor: none;
}

header .fazer .texto a span.colorido,
header .aprender .texto a span.colorido {
  color: var(--blue);
}

header .fazer .texto a span.negrito,
header .aprender .texto a span.negrito {
  font-weight: 600;
}

header .fazer .texto a:hover,
header .aprender .texto a:hover {
  opacity: 0.6;
}

/* Imagem */

header .fazer .imagem,
header .aprender .imagem {
  margin-top: auto;
}

header .fazer .imagem img,
header .aprender .imagem img {
  width: 100%;
  max-width: 400px;
}

/* Aviso */

header .aprender .aviso {
  position: absolute;
  bottom: 50px;
  background-color: var(--cyan-dark);
  padding: 20px 40px;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
}

header .aprender .aviso.mostrar {
  visibility: visible;
  opacity: 1;
}

header .aprender .aviso p {
  font-family: 'dosis';
  font-weight: 300;
  color: var(--white);
  text-transform: uppercase;
}

header .aprender .aviso p span {
  color: var(--blue);
  font-weight: 600;
}

/* Responsivo */

@media screen and (max-width: 900px) {
  header .aprender {
    background-color: #111d2680;
  }
  header .fazer .imagem img,
  header .aprender .imagem img {
    width: 100%;
    max-width: 250px;
  }
  header .fazer .texto a,
  header .aprender .texto a {
    font-size: 1.4rem;
    max-width: 250px;
  }
  header .aprender .aviso {
    bottom: 20px;
    padding: 15px 30px;
  }
}
