<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

  <!-- Titulo -->
  <title></title>
  <meta property="og:title" content="">
  <meta name="twitter:title" content="">
  <meta name="discord:title" content="">

  <!-- Description -->
  <meta name="description" content="">
  <meta itemprop="description" content="">
  <meta property="og:description" content="">
  <meta name="twitter:description" content="">
  <meta name="discord:description" content="">

  <!-- Robots -->
  <meta name="robots" content="none">

  <!-- Metatags -->
  {{> metatags}}

  <!-- Import CSS -->
  <link href="../../../static/css/erro.css?v={{versao.css}}" rel="stylesheet">

</head>

<body>

  <h1>Erro</h1>

  <!-- Import JS -->
  <script defer src="../../../static/js/pages/erro.js?v={{versao.js}}"></script>

</body>

</html>
