<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

  <!-- Titulo -->
  <title>.produto</title>
  <meta property="og:title" content=".produto">
  <meta name="twitter:title" content=".produto">
  <meta name="discord:title" content=".produto">

  <!-- Description -->
  <meta name="description" content="Transformando o seu conhecimento em .produto">
  <meta itemprop="description" content="Transformando o seu conhecimento em .produto">
  <meta property="og:description" content="Transformando o seu conhecimento em .produto">
  <meta name="twitter:description" content="Transformando o seu conhecimento em .produto">
  <meta name="discord:description" content="Transformando o seu conhecimento em .produto">

  <!-- Metatags -->
  {{> metatags}}

  <!-- Import CSS -->
  <link href="./static/css/index.css?v={{versao.css}}" rel="stylesheet">

</head>

<body>

  <!-- CURSOR -->
  <div class="cursor"></div>

  <!-- LOADING -->
  <section class="loading">
    <div class="svg">
      <svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" viewBox="0 0 300 300">
        <path d="M125.2 98.7c21.1-10.3 47.4-6.7 64.9 10.9 22.2 22.2 22.2 58.2 0 80.3 -22.2 22.2-58.2 22.2-80.3 0 -17-17-20.9-42.1-11.8-62.9l-13.2-13.2c-15.6 28.3-11.6 64.6 12.5 88.6 29.1 29.1 76.2 29.1 105.3 0s29.1-76.2 0-105.3c-24.5-24.5-61.9-28.3-90.5-11.4L125.2 98.7z"/>
      </svg>
      <svg class="menor" xmlns="http://www.w3.org/2000/svg" width="300" height="300" viewBox="0 0 300 300">
        <path d="M215.9 241.9c-44.2 31.7-106.3 27.8-145.9-11.8 -44.1-44.1-44.1-116 0-160.2s116-44.1 160.2 0c39.1 39.1 43.4 99.9 13.2 144l25.3 25.3C312.5 181 308.1 98 255 45c-58-58-152-58-210 0 -58 58-58 152 0 210 53.6 53.6 137.9 57.6 196.1 12.2L215.9 241.9z"/>
      </svg>
    </div>
  </section>

  <!-- HEADER -->
  <header>

    <!-- Detalhes -->
    <div class="detalhes">
      <div class="enfeite bola_branca">
        <img src="./images/pages/index/bolinhas-brancas.svg">
      </div>
      <div class="enfeite triangulo_azul">
        <img src="./images/pages/index/triangulos-azuis.svg">
      </div>
      <div class="enfeite bola_azul">
        <img src="./images/pages/index/bolinhas-azuis.svg">
      </div>
      <div class="enfeite triangulo_branco">
        <img src="./images/pages/index/triangulos-brancos.svg">
      </div>
      <div class="enfeite circulo_azul_tracado">
        <img src="./images/pages/index/circulos-azul-tracado.svg">
      </div>
      <div class="enfeite circulo_transparente">
        <img src="./images/pages/index/circulos-azul-transparente.svg">
      </div>
      <div class="enfeite quadrado_transparente_1">
        <img src="./images/pages/index/quadrado-azul-transparente.svg">
      </div>
      <div class="enfeite quadrado_transparente_2">
        <img src="./images/pages/index/quadrado-azul-transparente.svg">
      </div>
    </div>

    <!-- Fazer meu Lançamento -->
    <div class="fazer">
      <!-- Texto -->
      <div class="texto">
        <a href="https://api.whatsapp.com/send?phone=5518920001264&text=Ol%C3%A1,%20quero%20fazer%20meu%20Lan%C3%A7amento!" target="_blank" class="link">QUERO <span class="colorido">FAZER</span> O MEU <span class="negrito">LANÇAMENTO</span></a>
      </div>
      <!-- Imagem -->
      <div class="imagem">
        <img src="./images/pages/index/mulher.png">
      </div>
    </div>

    <!-- Aprender sobre Lançamento -->
    <div class="aprender">
      <!-- Texto -->
      <div class="texto">
        <a class="link texto_aprender">QUERO <span class="colorido">APRENDER</span> SOBRE <span class="negrito">LANÇAMENTOS</span></a>
        <div class="aviso">
          <p>Em <span>Breve</span></p>
        </div>
      </div>
      <!-- Imagem -->
      <div class="imagem">
        <img src="./images/pages/index/homem.png">
      </div>
    </div>

  </header>

  <!-- Import JS -->
  <script defer src="./static/js/pages/index.js?v={{versao.js}}"></script>

</body>

</html>
