  <!-- Site URL -->
  <link rel="canonical" href="produto.agency">
  <meta property="og:url" content="produto.agency">
  <meta name="discord:site" content="produto.agency">
  <meta property="discord:url" content="produto.agency">

  <!-- Theme Color Global -->
  <meta name="theme-color" content="#111d26">
  <meta name="msapplication-TileColor" content="#111d26">
  <meta name="msapplication-navbutton-color" content="#111d26">
  <meta name="apple-mobile-web-app-status-bar-style" content="#111d26">

  <!-- Share Image Size -->
  <meta property="og:locale" content="pt_BR">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1920">
  <meta property="og:image:height" content="1080">
  <meta property="og:type" content="website">
  <meta property="og:card" content="summary_large_image">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="discord:card" content="summary_large_image">

  <!-- Share Image URL -->
  <meta name="image" content="https://produto.agency/images/global/share.png">
  <meta itemprop="image" content="https://produto.agency/images/global/share.png">
  <meta property="og:image" content="https://produto.agency/images/global/share.png">
  <meta name="discord:image" content="https://produto.agency/images/global/share.png">
  <meta name="twitter:image" content="https://produto.agency/images/global/share.png">

  <!-- Site Name -->
  <meta name="author" content="pontoPRODUTO">
  <meta itemprop="name" content=".produto">
  <meta name="twitter:site" content=".produto">
  <meta name="article:author" content=".produto">
  <meta name="application-name" content=".produto">
  <meta property="og:site_name" content=".produto">
  <meta name="apple-mobile-web-app-title" content=".produto">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="https://produto.agency/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://produto.agency/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://produto.agency/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://produto.agency/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://produto.agency/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://produto.agency/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://produto.agency/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://produto.agency/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://produto.agency/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://produto.agency/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="194x194" href="https://produto.agency/favicons/favicon-194x194.png">
  <link rel="icon" type="image/png" sizes="192x192" href="https://produto.agency/favicons/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://produto.agency/favicons/favicon-16x16.png">
  <link rel="mask-icon" href="https://produto.agency/favicons/safari-pinned-tab.svg" color="#10d2cf">
  <meta name="msapplication-TileImage" content="https://produto.agency/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="https://produto.agency/favicons/browserconfig.xml">

  <!-- Docs -->
  <link rel="shortcut icon" href="https://produto.agency/favicon.ico">
  <link rel="manifest" href="https://produto.agency/site.webmanifest">
