/*

CSS GLOBAL CURSOR

*/

.cursor {
  position: fixed;
  width: 60px;
  height: 60px;
  border: 3px solid var(--blue);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition-property: background-color, transform;
  backdrop-filter: blur(4px);
  z-index: 2;
}

.cursor_link {
  background-color: var(--blue);
  transform: scale(0.8);
}
