/*

CSS GLOBAL LOADING

*/

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--cyan-dark);
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  position: absolute;
  z-index: 20;
}

.loading.ocultar {
  visibility: hidden;
  opacity: 0;
}

.loading .svg {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 3s;
}

.loading svg {
  fill: var(--blue);
  width: 100%;
  max-width: 200px;
  animation: rodando 2s infinite;
  animation-fill-mode: forwards;
  position: absolute;
}

.loading svg.menor {
  animation: rodandoC 2s infinite;
}

/* Animations */

@keyframes rodando {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rodandoC {
  0% {
    transform: rotate(0deg);
  }
  20% {
    opacity: 1;
  }
  35% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
